* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: rgb(255, 6, 0);
  --secondary-color: rgb(37, 31, 30);
  --header-height: 70px;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--primary-color);
  justify-content: center;
  padding: 1.2rem;
  height: var(--header-height);
}

header img {
  color: white;
  justify-self: center;
  align-self: center;
}

.menu-button {
  /* wystlizuj */
  height: 30px;
  width: 30px;
}

.hide-menu {
  left: -100%;
}

.show-menu {
  left: 0;
}

.menu {
  margin-top: var(--header-height);
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--primary-color);
  padding: 1rem;
  z-index: 1;
  transition: left 0.5s;
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 200px;
  }
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu li {
  list-style: none;
  width: 100%;
  text-align: center;
}

.menu a {
  padding: 1.2rem;
  display: block;
  border: 1px black solid;
  border-radius: 5px;
}

.show-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

.hide-overlay {
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.overlay {
  margin-top: var(--header-height);
  /* background-color: rgba(0, 0, 0, 0.4); */
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: background-color 0.5s;
}

section.blog {
  padding: 0 .5rem;
}

.articles {
  border: 1px solid black;
  height: auto;
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  grid-gap: 20px;

}

.blog h2 {
  grid-row: 1 / span 1;
}

.articles article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: yellow;
}

.articles article .article-footer:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.hide-modal {
  display: none;
}

.show-modal {
  display: flex;
}

.modal-content {
  height: 80%;
  width: 80%;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}