body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #fef3e2;
  font-family: "Segoe UI";
}

main {
  background: #fab12f;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1rem;
  color: #555;
}

input[type="number"],
input[type="checkbox"] {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="number"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #fa4032;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e73428;
  transform: translateY(-2px);
}

button[type="submit"]:active {
  background-color: #fa4032;
  transform: translateY(0);
}

.min-password-length,
.max-password-length,
.numbers-checkbox,
.special-characters-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.min-password-length input,
.max-password-length input {
  width: 100%;
}

.numbers-checkbox,
.special-characters-checkbox {
  flex-direction: row;
  align-items: center;
}

.numbers-checkbox label,
.special-characters-checkbox label {
  margin-left: 0.5rem;
}
